body,
input,
button {
    font-family: Roboto;
}

body {
    margin: 0;
    line-height: 1.5em;
    background-color: #FFFFFF;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    margin: 0;
}

button {
    cursor: pointer;
}

fieldset {
    min-width: unset;
    margin: 0;
    padding: 0;
    border: 0;
}


/* Grid */

.container {
    max-width: 1255px;
    margin: 0 auto;
    padding: 0 20px;
}


.container--narrow {
    max-width: 844px;
}


/* Site Content Wrapper */

.site-content {
    padding: 75px 0 100px;
}

.home .site-content {
    padding: 0;
}


/* Burger */

.burger {
    position: relative;
    display: none;
    width: 30px;
    height: 20px;
    background: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
}

.burger:active span {
    background: #f5632c;
}

.burger.active span:nth-child(1) {
    top: calc(50% - 1px);
    transform: rotate(-45deg);
}

.burger.active span:nth-child(2) {
    transform: translateX(-70%);
    opacity: 0;
}

.burger.active span:nth-child(3) {
    top: calc(50% - 1px);
    transform: rotate(45deg);
}

.burger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
    transform-origin: center center;
    transition: background 0.1s ease, opacity 0.25s ease, top 0.25s ease, transform 0.25s ease;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger span:nth-child(2) {
    top: calc(50% - 1px);
}

.burger span:nth-child(3) {
    top: calc(100% - 1px);
}

.header .burger {
    margin-left: auto;
}


/* Header */

.header {
    padding: 25px 0;
    background: #fff;
    position: relative;
    z-index: 100;
    width: 100%;
}

.header__inner {
    display: flex;
    align-items: center;
}

.header__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 55px;
    height: auto;
}

body:not(.home) .header {
    border-bottom: 1px solid #C4C4C4;
}

/* Logo */

.logo {
    flex-shrink: 0;
}

.logo img {
    display: block;
}


/* Header Search */

.header-search {
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 360px;
    margin-right: 60px;
}

.header-search__form {
   position: relative;
}

.header-search__input {
    display: block;
    width: 100%;
    padding: 5px 0;
    font-size: 14px;
    line-height: 16px;
    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #E8E8E8;
    transition: border-color .2s ease;
}

.header-search__input::placeholder {
    color: #C4C4C4;
}

.header-search__input:focus {
    outline: none;
}

.header-search__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    bottom: 5px;
    padding: 0;
    background: none;
    border: 0;
    pointer-events: none;
}

.header-search__icon > svg {
    fill: #C4C4C4;
    transition: fill .2s ease;
}


.header-search--focus .header-search__input {
    border-color: var(--c-primary);
}

.header-search--focus.header-search--found .header-search__results {
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;
}


/* Header Search Results */

.header-search-results {
    position: absolute;
    padding: 10px 0;
    background-color: #FFFFFF;
    border-radius: 0 0 10px 10px;
    border: 1px solid #E8E8E8;
    border-top: 0;
    transform: translateY(10px);
    opacity: 0;
    z-index: 100;
    transition: transform .2s ease, opacity .2s ease;
}

.header-search-results > a {
    display: block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    transition: color .2s ease, background-color .2s ease;
}

.header-search-results > a:hover {
    color: #FFFFFF;
    background-color: var(--c-primary);
}


/* Menu */

.header-menu {
    margin-left: auto;
}

.footer-menu .menu,
.header-menu .menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: Intro;
    line-height: 16px;
}

.footer-menu a,
.header-menu a {
    color: #000;
    white-space: nowrap;
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-menu a:hover,
.header-menu a:hover {
    color: var(--c-primary);
}

.footer-menu .menu > .menu-item:not(:last-child),
.header-menu .menu > .menu-item:not(:last-child) {
    margin-right: 30px;
}

/* Profile Control */

.profile-control {
    margin-left: 30px;
}

.profile-control a {
    display: block;
    color: #45463f;
    font-family: Intro;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;
    text-decoration: none;
    transition: color .2s ease;
}

.profile-control a:hover {
    color: var(--c-primary);
}

.profile-control a > svg {
    display: block;
    fill: #000;
    transition: fill .2s ease;
}

.profile-control a:hover > svg {
    fill: var(--c-primary);
}

.profile-control--logged-in {
    margin-left: 130px;
}


/* Home Intro */

.intro {
    display: flex;
}

.intro__pinned {
    display: grid;
    grid-template-areas:
                    "a a"
                    "b c";
    grid-gap: 20px;
    grid-template-rows: 496px 302px;
    flex-grow: 1;
}

.intro__pinned .article-card:nth-child(1) {
    grid-area: a;
}

.intro__pinned .article-card:nth-child(2) {
    grid-area: b;
}

.intro__pinned .article-card:nth-child(3) {
    grid-area: c;
}

.intro__recent {
    width: 392px;
    margin-left: 20px;
}


/* Media Queries */

@media screen and (max-width: 1024px) {
    .header__mobile {
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        padding: 0 20px;
        background: #000;
        pointer-events: none;
        overflow: hidden;
        transition: height 0.4s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    .header__mobile.open {
        height: 411px;
        pointer-events: auto;
    }


    .header .burger {
        display: block;
    }


    .header-search {
        order: 3;
        flex-grow: unset;
        flex-shrink: unset;
        width: 100%;
        max-width: 305px;
        margin-bottom: 25px;
        margin-right: unset;
    }

    .header-search__input {
        color: #FFFFFF;
    }


    .header-search-results {
        background-color: #000000;
        border: 0;
    }

    .header-search-results > a {
        color: #FFFFFF;
    }


    .header-menu {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .header-menu .menu {
        flex-direction: column;
    }

    .header-menu .menu-item {
        width: 100%;
    }

    .header-menu a {
        display: block;
        width: 100%;
        padding: 20px 0;
        color: #fff;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        border-bottom: 1px solid #45463f;
    }

    .header-menu .menu > .menu-item:not(:last-child) {
        margin-right: unset;
    }

    .header-menu .menu-list__link:active {
        color: #f5632c;
    }


    .profile-control {
        margin-bottom: 35px;
        margin-left: unset;
    }

    .profile-control a > svg {
        fill: #FFFFFF;
    }


    .intro {
        flex-direction: column;
    }

    .intro__recent {
        width: 100%;
        margin-top: 20px;
        margin-left: unset;
    }

    
    .recent-articles--home .recent-articles__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
    }

    .footer-menu {
        display: none;
    }
}

@media screen and (max-width: 718px) {
    .intro__pinned {
        grid-template-areas: unset;
        grid-template-rows: 475px 260px 260px;
    }

    .intro__pinned .article-card:nth-child(1),
    .intro__pinned .article-card:nth-child(2),
    .intro__pinned .article-card:nth-child(3) {
        grid-area: unset;
    }

    .intro__pinned .article-card {
        height: unset;
    }


    .recent-articles--home .recent-articles__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: unset;
    }
}